@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');

*::-webkit-scrollbar-track {
    width: 0;
}

.logo {
    background: linear-gradient(to right, #FF4BCC , #CBFB06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    /* cursor: default; */
}